
#intro
{
	border-color:#aaddaa;
	background-color:#eeffee;
}

#intro h1
{
	background-color:#ccffcc;
	border-color:#bbeebb;
	border-bottom-color:#88bb88;
	color:#558855;
}

#intro p
{
	color:#558855;
}
