
#intro
{
	border-color:#ddaadd;
	background-color:#ffeeff;
}

#intro h1
{
	background-color:#ffccff;
	border-color:#eebbee;
	border-bottom-color:#bb88bb;
	color:#885588;
}

#intro p
{
	color:#885588;
}
