
#intro
{
	border-color:#aaaadd;
	background-color:#eeeeff;
}

#intro h1
{
	background-color:#ccccff;
	border-color:#bbbbee;
	border-bottom-color:#8888bb;
	color:#555588;
}

#intro p
{
	color:#555588;
}
